@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'),
    url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-600.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-700.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'),
    url('../fonts/montserrat-v24-latin_cyrillic-ext_cyrillic-800.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.euclid {
  margin: 0;
  background-color: #FFFFFF;
}

.container {
  max-width: 1820px;
  margin: 0 auto 100px auto;
  padding-left: 50px;
  padding-right: 50px;
}

.text__heading {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.heading__description {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.text__description {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.btn {
  padding: 19px 38px 19px 38px;
  Gap: 10px;
  border: none;
}

/* Header */

.head {
  position: fixed;
  z-index: 3;
  width: 100%;
  max-width: 1920px;
  height: 105px;
  padding-top: 14px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 40px 0px #0000001A;
}

.head__burger:focus {
  border: 2px solid #FF9900;
}

.head__burger {
  display: none;
}

.burger__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 260px;

}

.burger__menu {
  position: fixed;
  z-index: 3;
  top: 104px;
  left: 50px;
  background-color: white;
}

.burger__item {
  border: 2px solid transparent;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}



.head__logo {
  margin-right: auto;
}

.head__logo-second {
  display: none;
}

.head__list {
  display: flex;
}

.btn__state:hover {
  border-bottom: 2px solid #FF9900;
  cursor: pointer;
}

.btn__state:focus {
  border: 2px solid #FF9900;
}

.btn__state:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.search__btn:focus {
  border: 2px solid #FF9900;
}

.search__btn:hover .search__color-lens {
  fill: #FF9900;
}

.search__btn:hover .search__color-haft {
  stroke: #FF9900;
}

.search__btn:active .search__color-lens {
  fill: #FF9900;
}

.search__btn:active .search__color-haft {
  stroke: #FF9900;
}

.head__btn {
  padding: 0;
  border: 2px solid transparent;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.head__item:not(:last-of-type) {
  margin-right: 85px;
}

.head__field {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 16px 13px;
  width: 539px;
  height: 60px;
  top: 105px;
  right: 35px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.search__item {
  margin-left: 32px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  width: 412px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ADADAD;
}

.search__element {
  margin-left: 14px;
}

.search__close:hover .search__orange {
  fill: #E1670E;
}

.search__close:hover .search__orange-ball {
  stroke: #E1670E;
}

.search__close :focus {
  border: 2px solid #FF9900;
}

.search__close:active .search__black {
  fill: #333333
}

.search__close:active .search__black-ball {
  stroke: #333333
}

.search__close {
  background: none;
  border: none;
  padding: 0;
  margin-left: 20px;
}

/* Hero */

.hero {
  padding-top: 105px;
  position: relative;
}

.hero__title {
  font-size: 60px;
  line-height: 73px;
  background-size: 100%;
}

.hero__info {
  position: absolute;
  z-index: 2;
  margin: 80px 100px;
}

.swiper-slide {
  width: 100%;
  min-height: 620px;
  margin: auto;
  padding: 100px 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__img-one {
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
}

.hero__img-two {
  background-image: url(../img/brown-and-blue-glass-building-2093076\ 2.jpg);
}

.hero__img-three {
  background-image: url(../img/apartment-apartment-building-architecture-building-323705\ 2.jpg);
}

.hero__title {
  max-width: 837px;
  margin: 0 0 24px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__text {
  max-width: 790px;
  margin: 0 0 90px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.button__orange:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: rgba(255, 153, 0, 0.7);
  border: none;
  transform: scale(1.1);
  transition-property: border-color, background-color, color, transform;
  transition-duration: 0s;
  transition-timing-function: ease;
}

.button__orange:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.button__orange:active {
  background-color: #E1670E;
}

.hero__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
  cursor: pointer;
}

.hero__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  background-color: #E1670E;
}

.hero__button {
  width: 280px;
  height: 78px;
  padding: 25px 37px;
  background: #FF9900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

/* About */
.about__tit {
  margin: 0 0 20px 0;
}

.about__text {
  max-width: 1235px;
  margin: 0 0 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.about__row {
  max-height: 622px;
  display: flex;
}

.about__item {
  height: 622px;
  justify-content: space-between;
}

.first {
  width: 49.17%;
  padding-top: 426px;
  margin: 0 32px 0 0;
  background-image: url(../img/Rectangle2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about__description {
  display: flex;
  align-items: center;
  height: 196px;
  padding: 50px 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about__description-text {
  width: 454px;
  height: 96px;
  margin: 0 139px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about__btn:hover {
  background-color: #FF9900;
  cursor: pointer;
}

.about__btn:focus {
  background-color: #FF9900;
}

.about__btn:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.about__btn {
  width: 175px;
  max-height: 66px;
  padding: 20px 38px;
  border: 3px solid #FF9900;
  background: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.about__element {
  display: flex;
  align-content: flex-start;
  align-items: center;
  max-width: 870px;
  height: 295px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
}

.about__figure {
  min-width: 200px;
  margin-left: 10px;
  margin-right: 15px;
}

.about__info {
  max-width: 450px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about__head {
  margin: 0 0 8px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;

}

.about__explanation {
  max-width: 450px;
  margin-right: 45px;
  font-size: 16px;
  line-height: 200%;
}

.about__margin {
  margin-bottom: 32px;
}

/* Work */
.work__tit {
  margin: 0 0 50px 0;
}

.work__list {
  display: flex;
  margin-bottom: 45px;
}

.tab__content {
  display: none;
}

.tab__content-active {
  display: flex;
  flex-wrap: wrap;
}

.work__text {
  width: 758px;
  height: 320px;
  margin-right: 92px;
}

.work__advice {
  height: 460px;
}

.work__advice-img {
  width: 870px;
  height: 460px;
  background-image: url(../img/Rectangle18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.work__outlay-img {
  width: 870px;
  height: 460px;
  background-image: url(../img/Rectangle\ 18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.work__builder-img {
  width: 870px;
  height: 460px;
  background-image: url(../img/Rectangle\ 19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.work__inspect-img {
  width: 870px;
  height: 460px;
  background-image: url(../img/Rectangle\ 20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.work__head {
  margin-bottom: 8px;
}

.work__tabs-btn:hover {
  color: #FF9900;
  cursor: pointer;
}

.work__tabs-btn:focus {
  border: 2px solid #FF9900;
}

.work__tabs-btn:active {
  color: #E1670E;
}

.work__tabs {
  border: 2px solid transparent;
  background-color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}


.tabs__color {
  color: #E1670E;
  ;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__info-text {
  max-width: 758px;
  margin-bottom: 41px;
}

.work__more:hover {
  background-color: #F7B045;
  cursor: pointer;
}

.work__more:focus {
  background-color: #F7B045;
}

.work__more:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.work__more {
  border: 3px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF9900;
  margin-right: 32px;
}

.work__contract:hover {
  background-color: #666666;
  border: 3px solid #666666;
  color: #FFFFFF;
  cursor: pointer;
}

.work__contract:focus {
  background-color: #666666;
  border: 3px solid #666666;
  color: #FFFFFF;
}

.work__contract:active {
  background-color: #000000;
  border: 3px solid #000000;
  color: #FFFFFF;
}

.work__contract {
  border: 3px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  width: 147px;
  height: 60px;
  left: 207px;
  top: 586px;
  background-color: #FFFFFF;
  border: 1px solid #333333;
}

/* FAQ */
.faq__tit {
  margin-bottom: 32px;
}

.ui-accordion {
  width: 1770px;
  height: 112px;
}

.faq__item {
  height: 110px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #CACACA;
  ;
}

.faq__icon-disabled {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-image: url(/img/Group\ 30.svg);
}

.faq__icon-active {
  background-image: url(/img/+Ñ….svg);
  transform: rotate();
}

.faq__item:last-child {
  border-bottom: 1px solid #CACACA;
  ;
}

/* Footer */
.contacts {
  background-color: #222222;
  color: #CACACA;
}

.contacts__container {
  height: 594px;
  padding: 50px 75px;
  display: flex;
  justify-content: space-between;
}

.contacts__menu {
  width: 255px;
  height: 494px;
}

.contacts__logo {
  margin-bottom: 20px;
}

.contacts__list {
  margin-bottom: 79px;
}

.contacts__state:hover {
  background-color: #666666;
}

.contacts__state:focus {
  background-color: #666666;
}

.contacts__state:active {
  background-color: #666666;
}

.contacts__item:visited {
  color: #CACACA;
}

.contacts__item:hover {
  color: #FF9900;
}

.contacts__item:focus {
  outline: #FF9900;
  border: 2px solid #E1670E;
}

.contacts__item:active {
  color: #E1670E;
}

.contacts__item {
  border: 2px solid transparent;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.contacts__desc::placeholder {
  color: #CACACA;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.contacts__desc {
  color: #FFFFFF;
}

.contacts__list-social {
  display: flex;
}

.icon__color-joint:focus {
  border: 2px solid #FF9900;
}

.icon__btn:hover .icon__color-joint {
  fill: #FF9900;
}

.icon__btn:active .icon__color-joint {
  fill: #E1670E;
}

.contacts__item-icon:not(:last-child) {
  margin-right: 25px;
}

.icon__btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.icon__color-joint {
  border: 2px solid transparent;
}

.contacts__date {
  width: 579px;
  height: 494px;
}

.contacts__date-head {
  margin-bottom: 25px;
  color: #CACACA;
}

.contacts__items {
  padding: 14px 24px;
  margin-bottom: 25px;
  border: none;
}

.contacts__name {
  width: 570px;
  height: 60px;
  background: #414141;
}

.contacts__email {
  width: 570px;
  height: 60px;
  background: #414141;
}

.contacts__text {
  width: 570px;
  height: 150px;
  background: #414141;
}

.contacts__btn:hover {
  background-color: #ffb84d;
  cursor: pointer;
}

.contacts__btn:focus {
  background-color: #ffb84d;
}

.contacts__btn:active {
  background-color: #E1670E;
}

.contacts__btn {
  width: 269px;
  height: 58px;
  margin-right: 22px;
  background: #FF9900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.contacts__checbox-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.contacts__info {
  width: 363px;
  height: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.contacts__info-text {
  margin: 87px 0 0 0;
}

@media (max-width: 1024px) {
  .container {
    max-width: 925px;
    padding: 0;
  }

  /* @Head */
  .head {
    justify-content: space-between;
  }

  .head__burger {
    display: flex;
  }

  .head__burger-hide {
    display: none;
  }

  .head__logo {
    margin: 0;
  }

  .head__logo-first {
    display: none;
  }

  .head__logo-second {
    display: block;
  }

  .head__item:not(:last-child) {
    display: none;
  }

  /* @Hero */

  /* @About */
  .about {
    min-height: 1605px;
  }

  .about__text {
    line-height: 20px;
  }

  .about__row {
    flex-direction: column;
  }

  .first {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
    background-image: url(../img/Rectangle22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about__description {
    justify-content: space-between;
  }

  .about__element {
    max-width: 924px;
    justify-content: center;
    align-items: flex-start;
    padding: 65px 77px;
  }

  /* @Work */
  .work {
    min-height: 882px;
  }

  .work__info {
    max-width: 437px;
    height: 576px;
    margin-right: 50px;
  }

  .work__img {
    width: 437px;
    height: 689px;
    margin-top: 10px;
    background-image: url(../img/Rectangle\ 12.jpg);
  }

  .work__info-text {
    margin-bottom: 25px;
  }

  /* @Faq */
  .heading__description {
    font-size: 20px;
  }

  /* @Footer */
  .contacts__container {
    padding: 50px 50px;
  }

  .contacts__info {
    display: none;
  }
}