* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.euclid {
  width: 1920px;
  margin: auto;
  background-color: #FFFFFF;
}

.container {
  width: 1770px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

}

.text__heading {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.heading__description {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.text__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.btn {
  padding: 19px 38px 19px 38px;
  Gap: 10px;
  border: none;
}

/* Header */

.head {
  background-color: #FFFFFF;
  box-shadow: 0px 5px 40px 0px #0000001A;
}

.head__menu {
  width: 1920px;
  padding: 14px 75px 14px 75px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 40px 0px #0000001A;
}

.head__logo {
  margin-right: 725px;
}

.head__list {
  display: flex;
}

.head__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.head__item:not(:last-child) {
  margin-right: 85px;
}

/* Hero */
.hero__info {
  width: 1770px;
  min-height: 620px;
  margin: auto;
  padding-top: 100px;
  padding-left: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
}

.hero__title {
  max-width: 837px;
  margin: 0 0 24px 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__text {
  max-width: 790px;
  margin: 0 0 90px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero__button {
  width: 280px;
  height: 78px;
  background: #FF9900;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

/* About */
.about__tit {
  margin: 0 0 20px 0;
}

.about__text {
  max-width: 1235px;
  margin: 0 0 50px 0;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.about__row {
  height: 662px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about__item {
  justify-content: center;
}

.first {
  width: 868px;
  height: 622px;
  padding-top: 426px;
  margin: 0 32px 0 0;
  background-image: url(../img/Rectangle2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.about__description {
  display: flex;
  width: 868px;
  height: 196px;
  padding-left: 50px;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about__description-text {
  width: 454px;
  height: 96px;
  margin: 0 139px 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about__btn {
  width: 175px;
  max-height: 60px;
  border: 3px solid #FF9900;
  background: rgba(0, 0, 0, 0);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 870px;
  height: 295px;
  padding: 65px 118px 65px 60px;
  margin: 0 0 32px 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
}

.about__figure {
  margin-right: 50px;
}

.about__info {
  width: 450px;
  height: 128px;
}

.about__head {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;

}

.about__info {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.third {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 870px;
  height: 295px;
  padding: 65px 120px 65px 60px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
}

/* Work */
.work__tit {
  margin: 0 0 50px 0;
}

.work__list {
  display: flex;
  margin-bottom: 45px;
}

.work__position {
  display: flex;
}

.work__info {
  width: 870px;
  height: 460px;
  margin-right: 142px;
}

.work__img {
  width: 870px;
  height: 460px;
}

.work__head {
  margin-bottom: 8px;
}

.work__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__info-text {
  width: 758px;
  margin-bottom: 50px;
}

.work__more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF9900;
  margin-right: 32px;
}

.work__contrackt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  width: 147px;
  height: 60px;
  left: 207px;
  top: 586px;
  background-color: #FFFFFF;
  border: 1px solid #333333;
}

/* FAQ */
.faq__tit {
  margin-bottom: 32px;
}

.faq__item {
  height: 110px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333333;
}

.faq__item:last-child {
  border-bottom: 1px solid #333333;
}

/* Footer */
.contacts {
  background-color: #222222;
  color: #CACACA;
}

.contacts__container {
  height: 594px;
  padding: 50px 75px;
  display: flex;
  justify-content: space-between;
}

.contacts__menu {
  width: 252px;
  height: 494px;
}

.contacts__logo {
  margin-bottom: 20px;
}

.contacts__list {
  margin-bottom: 90px;
}

.contacts__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.contacts__list-social {
  display: flex;
}

.contacts__item-icon:not(:last-child) {
  margin-right: 25px;
}

.contacts__date {
  width: 570px;
  height: 494px;
}

.contacts__date-head {
  margin-bottom: 25px;
  color: #CACACA;
}

.contacts__items {
  padding: 14px 24px;
  margin-bottom: 25px;
  border: none;
}

.contacts__name {
  width: 570px;
  height: 60px;
  background: #414141;
}

.contacts__email {
  width: 570px;
  height: 60px;
  background: #414141;
}

.contacts__text {
  width: 570px;
  height: 150px;
  background: #414141;
}

.contacts__btn {
  width: 269px;
  height: 58px;
  margin-right: 22px;
  background: #FF9900;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.contacts__checbox-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.contacts__info {
  width: 363px;
  height: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.contacts__info-text {
  margin: 87px 0 0 0;
}